@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --corfundo: #F8F0DE;
}

*{
    margin: 0px;
    padding: 0px;
}

body{

}

.cabecalho{
    background: url(imagens/first_background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    padding: 270px;
    
}

h1{
    font-family: "Abril Fatface", serif;
    text-align: center;
    font-size: 4em;
    padding-bottom: 10px;

}

h2{
    font-family: "Abril Fatface", serif;
    text-align: center;
    font-size: 3em;
}

.paragrafo{
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 30px;
}

.botao{
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
    padding: 5px;
    margin-top: 30px;
}

button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sobre{
    background: url(imagens/second_background.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    padding: 270px;
}

.paragrafo-sobre{
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 1.3em;
    background-color: #9598a0ad;
    padding: 10px;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
    text-align: center;

    padding-top: 20px;
}

.perfiltres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    padding-top: 10px;
}

.perfiltres img {
    height: 280px;
    width: 436px;
    margin: auto;
}

.imagem{
    border: 6px solid black;
    
}
.paragrafo-imagens{
    font-family: "DM Sans", sans-serif;
    font-size: 1.2em;
}